//reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: $fontfamily;
}

h1 {
    font-size: 4em;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.center {
    text-align: center;
}

